.container {
  max-width: 1440px;
  padding: 0 15px;
}

.main-ul {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.main-li a {
  font-size: 40px;
}
