#form-body {
  max-width: 1440px;
  padding: 24px 15px;
  margin: 0 auto;
}

.feedback-form {
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 24px;
  margin: 100px auto 0 auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label:first-child {
  margin-bottom: 8px;
}

.feedback-form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  min-width: 95px;
  height: 40px;
  background-color: #4e75ff;
  cursor: pointer;
  border: none;

  padding: 8px 16px;
  margin-top: 16px;

  transition: background-color 250ms ease-in-out;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}

.feedback-form label textarea {
  resize: none;
  height: 80px;
}

.feedback-form label input {
  height: 40px;
}

.feedback-form label input,
.feedback-form label textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  outline-style: none;

  padding: 8px 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: border-color ease-in-out 250ms;
}

.feedback-form label input:hover,
.feedback-form label textarea:hover {
  border-color: #000;
}

.feedback-form label input:active,
.feedback-form label textarea:active {
  border-color: #808080;
}
