#gallery-body {
  max-width: 1440px;
  padding: 24px 15px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;

  transition: transform 250ms ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

body .sl-wrapper .sl-close,
body .sl-wrapper .sl-counter,
body .sl-wrapper .sl-navigation button {
  color: #fff;
}
